body {
  font-family: arial, sans-serif;
}

/* modal */
#modal {
  font-size: 56px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  line-height: 314px;
  width: 100%;
  height: 100%;
  user-select: none;
}
p{
  font-size: 18px;
  position: absolute;
  margin-top: 50px;
  padding: 15px;
  text-decoration:underline;
  text-decoration-color:black;
}

/* main */
main {
  width: 320px;
  margin: 0 auto;
  position: relative;
}
table {
  border: 2px solid black;
  margin: 0 auto;
}
table td {
  padding: 0;
  user-select: none;
  color: white;
  text-align: center;
  font-size: 56px;
  font-weight: bold;
  width: 75px;
  height: 75px;
}
.color {
  background: red;
}
#btn {
  width: 300px;
  height: 60px;
  margin: 15px auto;
  border: 2px solid black;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  user-select: none;
}
.hidden {
  display: none;
}

/* end */
.gameover {
  background: black;
  color: white;
}
